.container {
  height: 100vh;
}

.header button {
  margin: 2em;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 3em;
}

.main__image {
  align-self: center;
}

.main__subtitle {
  font-weight: 100;
  max-width: 80%;
  margin: 0 3em;
}

.main__forgotPwForm {
  text-align: left;
  display: grid;
  gap: 0.8em;
}

.main__forgotPwForm button {
  width: 14em;
  place-self: center;
}
