.container__label {
  font-size: 0.8em;
  font-weight: 400;
  padding-left: 0.8em;
  padding-bottom: 0.2em;
}

.container__input {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 0.5em;
  font-size: 1.3em;
  padding-left: 0.5em;
  width: 100%;
}

.container__input:focus {
  outline-color: var(--primary-color);
}
