.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header__subtitle {
  font-weight: 100;
}

.loginForm {
  text-align: left;
  display: grid;
  gap: 0.8em;
}

.loginForm button {
  width: 8em;
  place-self: center;
  margin-top: 1em;
}

.loginForm__error {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 45%;
  background: white;
  color: var(--hint-color);
  font-size: 1.2em;
  border: solid 2px var(--hint-color);
  padding: 0.5em;
}

.loginForm_error_message {
  margin: 0 0 0.2em 0.8em;
}

.links {
  margin-top: 2em;
}

.forgotPwLink {
  color: var(--primary-color);
  font-weight: 600;
}

.signUpLink {
  color: var(--primary-color);
  font-weight: 600;
}
