@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@font-face {
  font-family: soupOfJustice;
  src: "/assets/fonts/soupofjustice.ttf";
}

:root {
  /* FONTS */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "soupOfJustice";

  /* SIZES */
  font-size: 100%;
}

body {
  margin: 0;
}
