.searchResult__card {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--secondary-color);
  text-align: left;
  border-radius: 0.5em;
  box-shadow: 0.5px 0.5px 3px #888;
  padding: 0.8em;
  width: 15em;
  margin: 1em 0;
}

.searchResult__card h3,
p {
  margin: 0;
}

.searchResult__favoriteIcon {
  justify-items: end;
  align-self: center;
}
