.addFile__label {
  font-size: 1.1em;
}

.addFile__input {
  height: 0;
  overflow: hidden;
}

.addFile__icons {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

.addFile__preview {
  border-radius: 50%;
  border: 1px dashed var(--primary-text-color);
  width: 4em;
  height: 4em;
}
