.addDog__label {
  font-size: 1.1em;
  display: grid;
  text-align: left;
}

.addDog__button {
  background: none;
  border: none;
  margin: 0.5em 0;
  text-align: left;
}

.addDog__button svg {
  margin-right: 0.5em;
  color: var(--primary-color);
}
